<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
<listener class-name="Getivity.Listeners"/>
</listeners>
  <test thread-count="5" name="Test">
    <classes>
    <class name="Getivity.Clients"/> 
     <class name="Getivity.Projecttypes"/> 
  <!--  <class name="Getivity.Projects"/> -->
     <class name="Getivity.Activities"/>
     <class name="Getivity.Roles"/>
    <!--  <class name="Getivity.Teams"/> -->
   <!--    <class name="Getivity.Timesheet"/> --> 
   <!--  <class name="Dummydata.getivity"/>--> 
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
